h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}



.receivedBox {
  width: 600px;
  height: 100px;  
  padding: 100px;
  margin:auto;
  border: 1px solid green;
}
.resultBox{
  width: 600px;
  height: 80px;  
  margin:auto;
  border: 1px solid green;
  align-content: center;	
}